/*	RobotoCondensed Bold */

@font-face {
	font-family: RobotoCondensed;
	src:
		url('/fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.eot?') format('eot'),
		url("/fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.eot?#iefix") format("embedded-opentype"),
		url('/fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.woff') format('woff'),
		url('/fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.ttf')  format('truetype'),
		url('/fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
	font-weight: 700;
}

/*	RobotoCondensed Light */

@font-face {
	font-family: RobotoCondensed;
	src:
		url('/fonts/RobotoCondensed-Light/RobotoCondensed-Light.eot?') format('eot'),
		url("/fonts/RobotoCondensed-Light/RobotoCondensed-Light.eot?#iefix") format("embedded-opentype"),
		url('/fonts/RobotoCondensed-Light/RobotoCondensed-Light.woff') format('woff'),
		url('/fonts/RobotoCondensed-Light/RobotoCondensed-Light.ttf')  format('truetype'),
		url('/fonts/RobotoCondensed-Light/RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
	font-weight: 300;
}

/*	RobotoCondensed Regular */

@font-face {
	font-family: RobotoCondensed;
	src:
		url('/fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.eot?') format('eot'),
		url("/fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.eot?#iefix") format("embedded-opentype"),
		url('/fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.woff') format('woff'),
		url('/fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.ttf')  format('truetype'),
		url('/fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
	font-weight: 400;
}