@import url(bootstrap.min.css);
@import url(fonts.css);

ul,ol{padding: 0; margin: 0;}
*{outline: 0 !important;}
li{list-style-type: none;}
h1,h2,h3,h4,p, .h1, .h2, .h3, .h4{line-height: normal; margin: 0; padding: 0;}
html {height: 100%;}
a,a:hover,a:focus,a:active{text-decoration: none;}
body {line-height: normal; color: #000; font-size: 16px; height: 100%; background-color: #fff;}
.container {
  width: 1200px;
  max-width: 1200px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

body {
  font-family: RobotoCondensed;
  font-weight: 300;
  overflow-x: hidden; }

header {
  background: url("/images/hero_2.jpg") center;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 30px; }
  header hr {
    border-color: rgba(222, 241, 249, 0.4); }
  header a.logo {
    display: inline-block;
    width: 250px;
    height: 70px;
    margin: 10px;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    opacity: 1; }
    header a.logo img {
      width: 100%;
      height: 100%;
      -webkit-background-size: cover;
      background-size: cover; }
    header a.logo:hover {
      opacity: 0.8; }
  header nav {
    font-size: 0;
    float: right;
    margin-right: 20px; }
    header nav a {
      display: inline-block;
      padding: 10px 10px;
      margin: 24px 0;
      font-size: 16px;
      font-weight: 300;
      color: #ffffff;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
      opacity: 1; }
      header nav a:hover, header nav a:focus, header nav a:active {
        background-color: rgba(222, 241, 249, 0.1);
        color: #ffffff; }
      header nav a:first-child {
        border-left: 1px solid rgba(222, 241, 249, 0.2);
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        padding-left: 15px; }
      header nav a:last-child {
        border-right: 1px solid rgba(222, 241, 249, 0.2);
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        padding-right: 15px; }
    header nav .active {
      background-color: rgba(222, 241, 249, 0.1); }
  header .cont {
    padding: 6px 0; }
    header .cont .cont_item {
      display: inline-block;
      font-size: 16px;
      color: #ffffff;
      font-weight: 300;
      padding: 5px; }
      header .cont .cont_item span {
        vertical-align: top;
        line-height: 20px; }
      header .cont .cont_item svg {
        fill: #ffffff;
        width: 20px;
        height: 20px;
        margin-right: 10px; }
  header .buttons {
    float: right; }
    header .buttons .main_btn {
      margin-right: 20px; }
      header .buttons .main_btn:last-child {
        margin-right: 0; }

.row.upper {
  background: -webkit-linear-gradient(left, rgba(2, 18, 78, 0.49) 0, rgba(255, 71, 24, 0.31) 100%);
  background: linear-gradient(to right, rgba(2, 18, 78, 0.49) 0, rgba(255, 71, 24, 0.31) 100%);
  border-radius: 0px 0px 40px 40px; }

header.header_index {
  padding-bottom: 150px; }

.main_btn {
  display: inline-block;
  padding: 8px 20px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }
  .main_btn:hover, .main_btn:focus, .main_btn:active {
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff; }

.main_btn.invert {
  border: 1px solid #333333;
  color: #ffffff;
  background-color: #333333; }
  .main_btn.invert:hover, .main_btn.invert:focus, .main_btn.invert:active {
    background: rgba(255, 255, 255, 0.2);
    color: #333333; }

.black {
  color: #333333;
  border-color: #333333; }
  .black:hover, .black:focus, .black:active {
    background: #333333;
    color: #ffffff; }

p.sub_title {
  color: #ffffff;
  font-size: 25px;
  padding: 10px 0; }

p.title {
  display: inline-block;
  color: #333333;
  font-size: 25px;
  padding: 3px 20px;
  border-left: 1px solid #484f7e;
  border-right: 1px solid #484f7e;
  border-radius: 50px;
  font-weight: 300;
  margin-bottom: 20px; }

p.title.white {
  color: #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff; }

.text p {
  text-align: justify;
  color: #333333;
  padding: 10px 0;
  font-size: 16px; }
  .text p a {
    color: #fde304;
    border-bottom: 1px solid #fde304;
    opacity: 0.8;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }
    .text p a:hover {
      opacity: 1; }
  .text p svg {
    width: 9px;
    height: 12px;
    fill: #333333; }
.text .with_bg {
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 5px; }
.text a {
  color: #fde304;
  border-bottom: 1px solid #fde304;
  opacity: 0.8;
  font-size: 16px;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }
  .text a:hover {
    opacity: 1; }

.text.white_text p {
  color: #ffffff; }

.mgt {
  margin: 50px 0; }

p.title.tac {
  text-align: center;
  display: block;
  min-width: 230px;
  max-width: 250px;
  margin: 0 auto 20px; }

.statistics {
  margin-top: -80px;
  padding: 90px 0 65px;
  background: url("/images/pre_top_bg3.png");
  background-size: cover; }
  .statistics p.sub_title {
    color: #484f7e;
    text-align: center;
    margin: -20px 0 20px; }
  .statistics .stat_item svg {
    fill: #484f7e;
    width: 55px;
    height: 55px; }
  .statistics .stat_item .stat_text {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px; }
    .statistics .stat_item .stat_text b {
      color: #484f7e;
      font-size: 29px;
      font-weight: 300;
      display: block;
      line-height: 32px; }
      .statistics .stat_item .stat_text b svg {
        width: 16px;
        height: 21px;
        fill: #484f7e; }
    .statistics .stat_item .stat_text i {
      font-style: normal;
      color: #484f7e;
      font-size: 14px;
      display: block; }

.about_us {
  padding: 70px 0;
  overflow: hidden; }
  .about_us .about_us__left .main_btn {
    margin-top: 30px; }
  .about_us .about_us__right {
    position: relative;
    padding-left: 40px; }
    .about_us .about_us__right .adv_item {
      height: 100px;
      width: 810px;
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 40px;
      margin: 5px 0; }
      .about_us .about_us__right .adv_item svg {
        fill: #484f7e;
        width: 60px;
        height: 60px; }
      .about_us .about_us__right .adv_item .adv_text {
        padding-left: 30px; }
        .about_us .about_us__right .adv_item .adv_text p {
          color: #484f7e;
          font-size: 29px;
          font-weight: 300; }
        .about_us .about_us__right .adv_item .adv_text b {
          text-align: justify;
          color: #333333;
          font-size: 15px;
          font-weight: 300;
          max-width: 400px;
          display: block; }
    .about_us .about_us__right .act {
      background: -webkit-linear-gradient(left, rgba(2, 18, 78, 0.6) 0, rgba(255, 71, 24, 0.6) 100%);
      background: linear-gradient(to right, rgba(2, 18, 78, 0.6) 0, rgba(255, 71, 24, 0.6) 100%);
      border-radius: 50px 0px 0px 50px;
      left: 0; }
      .about_us .about_us__right .act svg {
        fill: #ffffff; }
      .about_us .about_us__right .act .adv_text p {
        color: #ffffff; }
      .about_us .about_us__right .act .adv_text b {
        color: #ffffff; }

.calc {
  background: -webkit-linear-gradient(left, rgba(2, 18, 78, 0.6) 0, rgba(255, 71, 24, 0.6) 100%);
  background: linear-gradient(to right, rgba(2, 18, 78, 0.6) 0, rgba(255, 71, 24, 0.6) 100%);
  padding: 70px 0; }
  .calc .ref_prog {
    display: flex;
    padding-bottom: 50px; }
    .calc .ref_prog p {
      display: inline-flex;
      align-items: flex-start;
      font-size: 75px;
      color: #ffffff;
      margin-right: 60px; }
      .calc .ref_prog p span {
        font-size: 24px;
        margin: 15px 0 0 15px; }
  .calc .calc_block {
    margin-top: 75px; }
    .calc .calc_block .wide_block {
      display: flex;
      justify-content: space-between; }
      .calc .calc_block .wide_block select {
        width: 40%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #eeeeee;
        color: #333333;
        padding: 5px 10px; }
      .calc .calc_block .wide_block input {
        width: 40%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #eeeeee;
        color: #333333;
        padding: 5px 10px; }
      .calc .calc_block .wide_block p {
        font-size: 16px;
        color: #ffffff;
        padding: 20px 0; }
        .calc .calc_block .wide_block p span {
          font-size: 16px;
          color: #ffffff; }
      .calc .calc_block .wide_block b {
        font-size: 16px;
        color: #ffffff;
        font-weight: 400; }
        .calc .calc_block .wide_block b i {
          font-size: 16px;
          color: #ffffff;
          font-style: normal; }

footer {
  background: url("/images/footer_bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  padding: 70px 0; }
  footer .advantages_block b {
    font-size: 24px;
    color: #ffffff;
    font-weight: 300; }
  footer .advantages_block ul li {
    position: relative;
    display: block;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 25px;
    color: #ffffff; }
    footer .advantages_block ul li:before {
      position: absolute;
      content: "";
      width: 20px;
      height: 16px;
      left: 0;
      top: 10px;
      background: url("/images/cloud.png") no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      opacity: 0.5; }
    footer .advantages_block ul li:last-child {
      border-bottom: 0; }
  footer .conditions {
    display: flex;
    flex-direction: column; }
    footer .conditions .conditions_text {
      display: inline-flex;
      flex-direction: column; }
      footer .conditions .conditions_text b {
        font-size: 24px;
        color: #ffffff;
        font-weight: 300; }
      footer .conditions .conditions_text span {
        font-size: 14px;
        color: #ffffff;
        padding: 10px 0; }
    footer .conditions .conditions_icons {
      display: flex;
      padding: 20px 0; }
      footer .conditions .conditions_icons .icon_item {
        display: inline-flex;
        position: relative; }
        footer .conditions .conditions_icons .icon_item svg {
          width: 80px;
          height: 80px;
          fill: #ffffff;
          margin-right: 15px; }
        footer .conditions .conditions_icons .icon_item p {
          display: inline-flex;
          flex-direction: column;
          font-size: 24px;
          color: #ffffff;
          margin-right: 20px; }
          footer .conditions .conditions_icons .icon_item p span {
            font-size: 12px;
            width: 150px; }
        footer .conditions .conditions_icons .icon_item:after {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          width: 1px;
          height: 100%;
          background-color: rgba(255, 255, 255, 0.2); }
        footer .conditions .conditions_icons .icon_item:last-child::after {
          display: none; }
        footer .conditions .conditions_icons .icon_item:first-child {
          margin-right: 20px; }
    footer .conditions .conditions_btns {
      padding: 10px 0; }
      footer .conditions .conditions_btns .main_btn:first-child {
        margin-right: 30px; }
  footer .payment_systems {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding: 50px 0 0;
    margin-top: 30px; }
    footer .payment_systems a {
      opacity: 0.7;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all; }
      footer .payment_systems a svg {
        width: 90px;
        height: 30px;
        fill: #ffffff; }
      footer .payment_systems a:hover {
        opacity: 1; }

p.copyright {
  font-size: 14px;
  color: #333333;
  padding: 20px 0;
  text-align: center; }

.about {
  background: url("/images/about_bg.jpg") center no-repeat;
  padding: 70px 0; }
  .about table {
    width: 100%;
    text-align: center;
    background: #ffffff;
    margin-top: 30px; }
    .about table thead {
      background-color: #f2f2f2;
      text-align: center; }
      .about table thead th {
        font-weight: 400;
        color: #333333;
        text-align: center;
        padding: 10px;
        font-size: 18px;
        border: 1px solid #cecece;
        width: 50%; }
    .about table td {
      font-weight: 300;
      color: #333333;
      padding: 7px;
      font-size: 16px;
      border: 1px solid #cecece; }

.about_us__right.not_index {
  margin-top: 70px; }

.faq {
  padding: 70px 0; }
  .faq .panel {
    box-shadow: none; }
    .faq .panel .collapse_btn {
      display: block;
      background: #f2f2f2;
      font-size: 18px;
      color: #333333;
      font-weight: 400;
      padding: 10px 20px;
      border-left: 2px solid #333333; }
    .faq .panel .collapse.text,
    .faq .panel .collapsing.text {
      padding: 0; }
      .faq .panel .collapse.text p,
      .faq .panel .collapsing.text p {
        padding: 20px;
        font-size: 18px; }

.rules {
  padding: 70px 0; }
  .rules .text p.sub_title {
    font-size: 24px; }

.news {
  padding: 70px 0; }
  .news p.sub_title {
    color: red;
    text-align: center; }
  .news .news_block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .news .news_block .news_item {
      width: 48%;
      display: flex;
      flex-direction: column;
      margin: 20px 0; }
      .news .news_block .news_item a.name {
        font-size: 24px;
        color: #333333;
        opacity: 1;
        font-weight: 700;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        padding-bottom: 15px; }
        .news .news_block .news_item a.name:hover {
          opacity: 0.7; }
      .news .news_block .news_item .news_img {
        width: 100%;
        height: 200px;
        margin: 0 0 10px; }
        .news .news_block .news_item .news_img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .news .news_block .news_item .date_time {
        display: inline-flex;
        align-items: center;
        margin: 10px 0; }
        .news .news_block .news_item .date_time svg {
          width: 20px;
          height: 20px;
          fill: #333333;
          margin-right: 10px; }
        .news .news_block .news_item .date_time span {
          font-size: 18px;
          color: #333333; }
      .news .news_block .news_item p.description {
        font-size: 18px;
        color: #333333;
        margin: 10px 0; }
      .news .news_block .news_item a.link_to__inner {
        font-size: 16px;
        color: #333333;
        opacity: 1;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
        display: inline-flex;
        align-items: center;
        margin-top: 10px; }
        .news .news_block .news_item a.link_to__inner svg {
          width: 20px;
          height: 20px;
          fill: #333333;
          margin-right: 10px; }
        .news .news_block .news_item a.link_to__inner span {
          border-bottom: 1px solid #333333; }
        .news .news_block .news_item a.link_to__inner:hover {
          opacity: 0.7; }
  .news .news_inner p.name {
    font-size: 24px;
    color: #333333;
    font-weight: 700;
    margin-bottom: 30px; }
  .news .news_inner .news_img {
    width: 100%;
    height: 400px;
    margin: 0 0 20px; }
    .news .news_inner .news_img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.support {
  padding: 70px 0; }
  .support .support_text {
    font-size: 18px;
    background: #f2f2f2;
    color: #333333;
    padding: 15px;
    margin-bottom: 20px; }
  .support form {
    display: flex;
    flex-direction: column;
    margin-top: 20px; }
    .support form div {
      margin: 0 0 20px; }
      .support form div label {
        font-size: 16px;
        color: #333333;
        display: block;
        font-weight: 300;
        margin-bottom: 10px; }
      .support form div input, .support form div textarea {
        font-size: 16px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #333333;
        padding: 5px 10px;
        border: 1px solid #cecece;
        width: 100%; }
    .support form .captcha {
      width: 304px;
      height: 74px;
      background: #333333; }
    .support form .main_btn.invert {
      align-self: flex-start; }
  .support .support_right {
    text-align: center; }
    .support .support_right .contacts {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
      .support .support_right .contacts p,
      .support .support_right .contacts a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0; }
        .support .support_right .contacts p svg,
        .support .support_right .contacts a svg {
          width: 20px;
          height: 20px;
          fill: #333333;
          margin-right: 10px; }
        .support .support_right .contacts p span,
        .support .support_right .contacts a span {
          font-size: 16px;
          color: #333333; }
    .support .support_right .certificate_block p {
      font-size: 24px;
      color: #333333;
      padding-bottom: 20px; }
    .support .support_right .certificate_block a.cert {
      display: block;
      margin: 0 auto;
      width: 276px;
      height: 376px;
      -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.2);
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all;
      margin-bottom: 20px; }
      .support .support_right .certificate_block a.cert:hover {
        -webkit-box-shadow: 0px 0px 39px 1px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0px 0px 39px 1px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 0px 39px 1px rgba(0, 0, 0, 0.25); }
      .support .support_right .certificate_block a.cert img {
        width: 100%;
        height: 100%; }

.login {
  padding: 70px 0; }
  .login form {
    display: flex;
    flex-direction: column;
    margin-top: 20px; }
    .login form div {
      margin: 0 0 20px; }
      .login form div label {
        font-size: 16px;
        color: #333333;
        display: block;
        font-weight: 300;
        margin-bottom: 10px; }
      .login form div input, .login form div textarea {
        font-size: 16px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        color: #333333;
        padding: 5px 10px;
        border: 1px solid #cecece;
        width: 100%; }
    .login form .check {
      text-align: center; }
      .login form .check label {
        display: inline-flex;
        align-items: center; }
        .login form .check label input {
          width: 16px;
          height: 16px;
          margin-top: 0;
          margin-right: 10px; }
    .login form .captcha {
      width: 304px;
      height: 74px;
      background: #333333;
      margin: 0 auto; }
    .login form .main_btn.invert {
      width: auto;
      align-self: center;
      margin-top: 20px; }
  .login .login_btns {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0; }
    .login .login_btns .link {
      font-size: 16px;
      color: #333333;
      text-decoration: underline;
      opacity: 0.7;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all; }
      .login .login_btns .link:hover {
        opacity: 1; }

.account_body {
  background: linear-gradient(135deg, #4b6e9e 0%, #496ea0 7%, #496ea0 7%, #b45849 100%); }
  .account_body header {
    background-image: none; }
    .account_body header .exit_btn {
      display: flex;
      justify-content: flex-end;
      margin: 25px 0; }
    .account_body header hr {
      margin: 0; }
    .account_body header .user_info {
      display: flex;
      padding: 15px 0; }
      .account_body header .user_info .user_icon {
        display: inline-flex;
        align-items: center;
        border-right: 1px solid rgba(222, 241, 249, 0.4); }
        .account_body header .user_info .user_icon img {
          width: 70px;
          height: 70px;
          -o-object-fit: cover;
          object-fit: cover;
          margin-right: 20px; }
        .account_body header .user_info .user_icon span {
          font-size: 22px;
          color: #ffffff; }
      .account_body header .user_info .enter_stat {
        padding: 15px 0 15px 25px; }
        .account_body header .user_info .enter_stat p {
          display: inline-flex;
          align-items: center; }
          .account_body header .user_info .enter_stat p svg {
            width: 15px;
            height: 15px;
            fill: #ffffff;
            margin-right: 5px; }
          .account_body header .user_info .enter_stat p span {
            font-size: 16px;
            color: #ffffff; }
    .account_body header nav {
      background: -webkit-linear-gradient(left, rgba(2, 18, 78, 0.49) 0, rgba(255, 71, 24, 0.31) 100%);
      background: linear-gradient(to right, rgba(2, 18, 78, 0.49) 0, rgba(255, 71, 24, 0.31) 100%);
      border-radius: 40px;
      padding: 0;
      margin: 0;
      display: flex;
      float: none;
      justify-content: space-between; }
      .account_body header nav a {
        display: inline-flex;
        align-items: center;
        border: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        margin: 0; }
        .account_body header nav a:first-child {
          border-top-left-radius: 30px;
          border-bottom-left-radius: 30px; }
        .account_body header nav a:last-child {
          border-top-right-radius: 30px;
          border-bottom-right-radius: 30px; }
        .account_body header nav a svg {
          width: 25px;
          height: 25px;
          fill: #ffffff;
          margin-right: 10px; }
        .account_body header nav a span {
          font-size: 16px;
          color: #ffffff; }
  .account_body p.copyright {
    color: #ffffff;
    width: 1200px;
    margin: 0 auto;
    border-top: 1px solid rgba(222, 241, 249, 0.4); }

p.block_title {
  font-size: 22px;
  color: #333333;
  padding-bottom: 10px; }

.account table {
  width: 100%;
  text-align: center; }
  .account table th {
    background-color: #433d64;
    border: 1px solid rgba(222, 241, 249, 0.4);
    color: #ffffff;
    font-weight: 700;
    padding: 8px;
    text-align: center;
    font-size: 16px; }
    .account table th svg {
      width: 11px;
      height: 13px;
      fill: #ffffff; }
  .account table td {
    color: #333333;
    font-size: 16px;
    padding: 7px;
    text-align: center; }
    .account table td svg {
      width: 11px;
      height: 13px;
      fill: #333333; }
  .account table tr {
    background-color: #ffffff;
    -webkit-transition: 0.3s all;
    -moz-transition: 0.3s all;
    -ms-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all; }
    .account table tr:hover {
      background-color: #f5f5f5; }
  .account table tr.ref_tr {
    background-color: #cecece; }

.acc_page {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 30px; }
  .acc_page .operations {
    margin-right: 40px; }
  .acc_page .ps {
    width: auto;
    display: flex;
    flex-direction: column; }
    .acc_page .ps p {
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      padding: 10px 0; }
      .acc_page .ps p:last-child {
        border-bottom: 0; }
      .acc_page .ps p svg {
        width: 100px;
        height: 30px;
        fill: #433d64; }
      .acc_page .ps p span {
        font-size: 18px;
        color: #333333;
        text-transform: uppercase;
        padding-right: 20px; }
    .acc_page .ps p.block_title {
      padding: 0 0 10px;
      border-bottom: 0; }

.wallets,
.settings {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 30px; }
  .wallets form,
  .settings form {
    text-align: center;
    margin: 0 auto; }
    .wallets form .wallet_item,
    .wallets form .settings_item,
    .settings form .wallet_item,
    .settings form .settings_item {
      display: flex;
      align-items: center;
      padding: 5px 0; }
      .wallets form .wallet_item svg,
      .wallets form .settings_item svg,
      .settings form .wallet_item svg,
      .settings form .settings_item svg {
        width: 130px;
        height: 50px;
        fill: #433d64;
        margin-right: 10px; }
      .wallets form .wallet_item span,
      .wallets form .settings_item span,
      .settings form .wallet_item span,
      .settings form .settings_item span {
        font-size: 16px;
        font-weight: 700;
        color: #333333;
        width: 200px;
        text-align: left;
        padding: 10px 0; }
      .wallets form .wallet_item input,
      .wallets form .wallet_item select,
      .wallets form .settings_item input,
      .wallets form .settings_item select,
      .settings form .wallet_item input,
      .settings form .wallet_item select,
      .settings form .settings_item input,
      .settings form .settings_item select {
        width: 100%;
        padding: 3px 10px;
        color: #333333;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #cecece; }

.ref {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 30px; }
  .ref table {
    margin-bottom: 30px; }

.acc_page .settings {
  padding: 0;
  width: 400px; }
  .acc_page .settings form .settings_item span {
    width: 300px; }

/*# sourceMappingURL=style.css.map */
